@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

:root {
    --bg-color-1: #eaddcf;
    --bg-color-2: #f9f4ef;
    --bg-color-4: #c084fc;
    --bg-color-5: #a855f7;
    --bg-light: #fffafa;
    --dark: #373737;
    --purple: #a70dbc;
    --gradient-1: radial-gradient(circle, rgba(249, 244, 239, 1) 50%, rgba(246, 197, 255, 1) 100%);
    --gradient-2: radial-gradient(circle, rgba(246, 197, 255, 1) 0%, rgba(249, 244, 239, 1) 50%, rgba(246, 197, 255, 1) 100%);
    --gradient-3: radial-gradient(circle, rgba(249, 244, 239, 1) 0%, rgba(246, 197, 255, 1) 50%, rgba(249, 244, 239, 1) 100%);
    --gradient-4: radial-gradient(circle, rgba(249, 244, 239, 1) 0%, rgba(251, 231, 254, 1) 61%, rgba(249, 244, 239, 1) 79%, rgba(249, 244, 239, 1) 88%);

}

html,
body {
    scroll-behavior: smooth;
}

.shared-bg-1 {
    background: var(--gradient-2);
}

.shared-bg-2 {
    background: var(--gradient-4);
}

.navbar {
    z-index: 11;
    transition: 0.5s linear;
    width: 100%;
    /* box-shadow: 4px 2px 43px -14px rgba(0, 0, 0, 0.1); */
}

.nav-menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#navbar-menu {
    position: fixed;
}

.nav-link {
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-right: 50px;
    margin-top: 15px;
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
    color: var(--dark);
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--purple);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-hamburger-btn {
    display: none;
}

/* Openning Section */
.open-section {
    font-family: 'Manrope', sans-serif;
    color: var(--dark);
    line-height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 140px 100px;
    height: 100dvh;
}

.open-hello {
    font-size: 4.5rem;
    padding-bottom: 20px;
}

.open-name {
    font-size: 3.7rem;
    padding-bottom: 10px;
}

.typed-text {
    color: var(--purple);
    font-size: 2.8rem;
}

/* About Section */
.abt-section {
    margin-top: -40px;
}

.abt-desc {
    padding: 0px 200px 0px 100px;
}

.abt-desc h3 {
    font-size: 1.4rem;
    color: var(--purple);
}

.abt-text {
    padding-top: 10px;
    font-size: 1.1rem;
}

.enter {
    font-size: 1.1rem;
    display: block;
    padding-top: 12px;
}

.abt-container {
    padding-left: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.abt-skills h3 {
    padding: 20px 100px;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    color: var(--purple);
}

.abt-img {
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    width: 84px;
    height: 84px;
}

.abt-img:hover {
    background-color: var(--bg-color-4);
    color: white;
}

.abt-img span {
    display: block;
    font-size: 0.7rem;
    font-family: 'Inter';
    padding-top: 10px;
}

.abt-img img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* Projects Section */
.projects-section {
    font-family: 'Inter', sans-serif;
    margin-top: -20px;
}

.projects-title,
.abt-title,
.contact-title {
    color: var(--dark);
    padding: 40px 0px 20px 100px;
    font-size: 2.5rem;
}

.projects-container {
    margin-left: -18px;
    margin-right: 80px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.left-side img {
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

.right-side {
    max-width: 600px;
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 14px 14px 0 -3px var(--bg-color-4), 14px 14px 0 0 black;
}

.right-side h3 {
    font-weight: 600;
    padding-bottom: 4px;
}

.right-side .description {
    color: var(--dark);
    font-weight: 500;
}

.right-side .tech {
    color: var(--purple);
    font-weight: 600;
}

.right-side a,
.view-more-btn a {
    text-decoration: none;
    color: black;
}

.right-side button,
.view-more-btn {
    display: inline-flex;
    border-radius: 10px;
    padding: 8px;
    margin-right: 4px;
    color: black;
    background-color: inherit;
}

.right-side button:hover,
.right-side a:hover,
.view-more-btn:hover,
.view-more-btn a:hover {
    color: var(--bg-light);
    background-color: var(--bg-color-5);
}

.right-side i, .view-more-btn i {
    padding-top: 4px;
    padding-left: 4px;
}

.view-more-btn {
    margin: 0px 0px 40px 100px;
}

/* Contact Section */
.contact-section,
footer {
    font-family: 'Inter', sans-serif;
}

.card-container {
    padding: 0px 0px 40px 100px;
}

.contact-card {
    display: flex;
    align-items: center;
    border: 2px solid black;
    box-shadow: 6px 6px 0px 1px var(--bg-color-4);
    border-radius: 3px;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-card i,
.nav-hamburger-btn i {
    color: black;
    font-size: 36px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-right: 8px;
}

.contact-card i:hover,
.nav-hamburger-btn i:hover {
    color: var(--bg-light);
    background-color: var(--bg-color-5);
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 1.1rem;
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--purple);
    font-weight: 500;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .project {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .projects-container {
        margin: 0px;
    }

    .right-side {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .nav-menu-list {
        display: none;
    }

    /* hamburger menu */
    .nav-hamburger-btn {
        display: block;
        margin-left: 86vw;
    }

    .nav-hamburger-btn i {
        font-size: 20px;
        border: none;
    }

    .open-hello {
        font-size: 3.5rem;
    }

    .open-name {
        font-size: 2.5rem;
    }

    .typed-text {
        font-size: 1.6rem;
    }

    .projects-title,
    .abt-title,
    .contact-title {
        font-size: 2.2rem;
    }

    .abt-desc {
        padding-right: 100px;
    }

    .abt-img {
        width: 64px;
        height: 64px;
    }

    .abt-img img {
        width: 30px;
        height: 30px;
    }

    .abt-img span {
        display: block;
        font-size: 0.5rem;
        font-family: 'Inter';
        padding-top: 6px;
    }

    .card-container {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .open-section {
        padding: 60px;
    }

    .open-hello {
        font-size: 2.5rem;
    }

    .open-name {
        font-size: 1.5rem;
    }

    .typed-text {
        font-size: 1rem;
    }

    .projects-title,
    .abt-title,
    .contact-title {
        font-size: 1.8rem;
        padding-left: 60px;
    }

    .abt-desc,
    .abt-container {
        padding-left: 60px;
        padding-right: 60px;
        flex-wrap: wrap;
    }

    .abt-skills h3 {
        padding-left: 60px;
    }

    .abt-text,
    .enter {
        font-size: 0.8rem;
    }

    .abt-img {
        text-align: center;
        width: 50px;
        height: 50px;
        padding: 4px;
    }

    .abt-img img {
        width: 18px;
        height: 18px;
    }

    .abt-img span {
        font-size: 0.4rem;
    }

    .projects-container {
        margin-left: -20px;
    }

    .left-side img {
        width: 400px;
        margin-top: -30px;
    }

    .right-side h3 {
        font-size: 0.8rem;
    }

    .right-side p,
    .right-side a,
    .right-side span {
        font-size: 0.8rem;
    }

    .view-more-btn {
        margin-left: 60px;
    }

    .card-container {
        padding-left: 60px;
        font-size: small;
    }

    .contact-card {
        width: 260px;
    }

    .contact-card i {
        font-size: 20px;
    }

    .contact-card span,
    footer,
    footer span {
        font-size: 0.75rem;
    }
}